<?xml version="1.0" encoding="utf-8"?>
<Package
    xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
    xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
    xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
    xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
    IgnorableNamespaces="uap3 mp">

  <Identity Name="6280BarometerUWP.BarometerUWP" Publisher="CN=ArtemITuser" Version="1.4.0.2" ProcessorArchitecture="neutral" />

  <mp:PhoneIdentity PhoneProductId="7c1e9a52-3f84-4d2b-9c31-5e2a7f9b4d10" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Barometer UWP</DisplayName>
    <PublisherDisplayName>ArtemITuser</PublisherDisplayName>
    <Description>Barometer for Windows 10 Mobile (Lumia 950 / 950 XL / HP Elite x3)</Description>
    <Logo>Assets\Square44x44Logo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.15063.0" MaxVersionTested="10.0.15254.0" />
  </Dependencies>

  <Resources>
    <Resource Language="en-us"/>
    <Resource Language="ru-ru"/>
  </Resources>

  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Barometer_UWP.App">
      <uap:VisualElements
        DisplayName="Barometer UWP"
        Description="Barometer application"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" ShortName="Barometer">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap3:Extension Category="windows.appExecutionAlias">
          <uap3:AppExecutionAlias>
            <uap3:ExecutionAlias Alias="BarometerUWP.exe" />
          </uap3:AppExecutionAlias>
        </uap3:Extension>
        <Extension Category="windows.backgroundTasks" EntryPoint="Barometer_UWP.BackgroundTasks.BackupTask">
          <BackgroundTasks>
            <Task Type="systemEvent" />
            <Task Type="timer" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="location" />
  </Capabilities>

</Package>
